

{% extends "orders/base.html" %}


{% block title %}
    Checkout
{% endblock %}


{% block orders_content %}
    <h1>Checkout</h1>

    <div class="order-info col-xs-12 col-sm-12 col-md-4 col-lg-6">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
            <li>
                {{ item.quantity }}x {{ item.product.name }}
                <span>${{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
        <form action="." method="post" class="order-form">
            {{ form.as_p }}
            <p><input type="submit" value="Place order"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
