
/* - - - - - - - - - - - - - - - -PRODUCT LIST*/

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.container .card {
    width: 25%;
    height: 270px;
    float: left;
    margin: 6px;
    padding-top: 9px;
    text-align: center;
    line-height: 1.2;
}

.img-container {
    width: 210px;
    height: 210px;
    padding-top: 9px;
    display: block;
    margin: auto;
    position: relative;
}

.img-card {
    display: block;
    margin: auto auto;
    height: auto;
    max-height: 150px;
    width: auto;
    max-width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}


/*- - - - - - - - - - - - -  - - -  END PRODUCT LIST*/

/* - - - - - - - - - - -  - - PRODUCT DETAIL*/
.product-detail {
    text-align:justify;
    border: 1px solid red;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}
/*- - - - - - - - - - - - END PRODUCT DETAIL*/
/*CARD*/
/*-------------------end card---*/

/*modal*/

/*image*/
.image-div {
    height: 300px;
    widows: 300px;
    margin: 9px;
    padding: 9px;
    position: relative;
}

.img-size {
    height: auto;
    max-height: 270px;
    width: auto;
    max-width: 270px;
    /*center image*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    /*---*/
}

.image-title {
    height: 210px;
    text-align: center;
}

.modal-content {
   width: 900px;
   height: 600px;
}

/*BUTTON*/
a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:3px;
    padding:10px 20px;
    font-size:12px;
    border:0;
}

