
/* - - - - - - - - - - - - - - - -PRODUCT LIST*/

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .item {
    width: 25%;
    height: 270px;
    padding: 10px 20px 10px 0;
    float: left;
    text-align: center;
    line-height: 1.2;
    border: 1px solid red;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

/*- - - - - - - - - - - - -  - - -  END PRODUCT LIST*/

/* - - - - - - - - - - -  - - PRODUCT DETAIL*/
.product-detail {
    text-align:justify;
    border: 1px solid red;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}
/*- - - - - - - - - - - - END PRODUCT DETAIL*/
