

{% if user.is_authenticated %}
<form id="logoutForm" action="{% url 'accounts:logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <span class="navbar-brand">Logged As: {{ user.username }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
        </li>
    </ul>
</form>

{% else %}
<div>
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}"> Log In</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}"> Sign Up</a></li>
</ul>
</div>
{% endif %}
