

<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} My Shop {% endblock title %}</title>

        {% load static %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css"  href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css"  href="{% static 'bootstrap4/css/site.css' %}">
            <link rel="stylesheet" type="text/css"  href="{% static 'style/css/all.min.css' %}">
        {% endblock %}
    </head>

    <body>
        <!--NAVIGATION-->
        {% include '_navigation.html' %}
        <!-------->

        <div class="container">
            <div class="starter-template">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}

                {% endblock %}
           </div>
        </div>
        <!--JAVASCRIPT-->
        {% block js %}
            <script src="{% static 'bootstrap4/js/jquery.min.js' %}"> </script>
            <script src="{% static 'bootstrap4/js/popper.js' %}"> </script>
            <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"> </script>
        {% endblock js %}
    </body>
</html>



