

{% extends "base.html" %}

{% block title %}

{% endblock title %}
{% load static %}

<!--CSS-->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/shop.css' %}">
{% endblock stylesheets %}
<!--END_css-->

{% block content %}
        <div class="header">
            <a class="logo" href="/">My Shop</a>
        </div>
        <div class="subheader">
            <div class="cart">
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                Your Cart:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item {{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                </a>
                {% else %}
                Your cart is empty.
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="content">
            {% block shop_content %}

            {% endblock %}
        </div>
{% endblock %}
