
body {
	padding: 50px 0 30px;
}

.content { 
    float:left;
    /*width:60%;*/
    padding:0 0 0 30px; 
}

.sidebar { 
	background:#efefef;
	color: #337ab7;
    float:left;
    height:100%;
    margin: 0 0 0 20px;
    padding:10px; 
/*    width:93%;*/
}

h1 { 
    border-color: #006699;
    border-bottom:3px groove #bbb;
    color: #337ab7;
    font-weight:normal;
    margin-right: 30px;
    padding:0 0 10px 0;
}

.text {
	font-family: Arial, sans-serif, verdana;
	font-weight: bold;
	color: #120;
}

.text-large {
	.text ;
	font-size: 20px;
	line-height: 1.4em;
}

.text-medium {
	.text ;
	font-size: 16px;
	line-height: 1.2em;
}

.text-small {
	.text ;
	font-size: 12px;
	line-height: 1.0em;
}
